network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      dhcp4: no
      addresses:
        - {{ target_ip }}
      gateway4: {{ ansible_default_ipv4.gateway }}
      nameservers:
        addresses: [{{ network.dns[0] }}, {{ network.dns[1] }}, {{ network.dns[2] }}]
